<h1>Fauxtaux</h1>

<p>Morbo will now introduce tonight's candidates… Puny Human Number One, Puny Human Number Two, and Morbo's good friend, Richard Nixon. That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing. Ah, yes! John Quincy Adding Machine. He struck a chord with the voters when he pledged not to go on a killing spree. Say it in Russian! So, how 'bout them Knicks? I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas.</p>
